---
import SearchBar from '../components/SearchBar.jsx'
---

<header class='flex justify-between items-center p-4 bg-gray-200'>
  <a href='/' id='home-button' class='flex items-center text-white'>
    <img src='/logo.svg' alt='Logo' class='h-20 mr-4' />
    <h2 class='text-3xl text-black'>Face Assistance</h2>
  </a>

  <div class='flex space-x-2'>
    <a
      id='button'
      class='bg-gray-200 text-black font-semibold px-4 py-2 rounded-lg hover:bg-gray-400'
      href='/manage'>Gestionar</a
    >
    <a
      id='button'
      class='bg-gray-200 text-black font-semibold px-4 py-2 rounded-lg hover:bg-gray-400'
      href='/images'>Imágenes</a
    >
    <a
      id='button'
      class='bg-gray-200 text-black font-semibold px-4 py-2 rounded-lg hover:bg-gray-400'
      href='/devices'>Dispositivos</a
    >
    <SearchBar client:load />
  </div>
</header>
