---
import Layout from '../layout/Layout.astro'
import Title from '../components/Title.astro'
import DeviceForm from '../components/deviceForm'
---

<Layout>
  <main class='p-4'>
    <Title backbutton={true}>Dispositivos</Title>

    <DeviceForm client:load />
  </main>
</Layout>
