---
import Layout from '../layout/Layout.astro'
import { getGroups } from '../lib/groups/getGroups'

const groups = await getGroups()
---

<Layout>
  <section>
    <h2 class='text-2xl font-semibold mb-4'>Personas en el Grupo</h2>
    <ul class='grid grid-cols-3 gap-4'></ul>
  </section>
</Layout>
