---
import { GroupList } from '../components/GroupList'
import Title from '../components/Title.astro'
import Layout from '../layout/Layout.astro'
---

<Layout>
  <main class='p-4'>
    <Title>Cursos</Title>

    <GroupList client:load />
  </main>
</Layout>
