---
import Layout from '../layout/Layout.astro'
import { userToken } from '../stores/tokenStore'

userToken.set('')
---

<Layout>
  <h1 id='greeting' class='text-3xl text-red-500 font-bold'></h1>
</Layout>
