---
import Layout from '../layout/Layout.astro'
---
<Layout>
    <header class="flex justify-between items-center p-4 bg-gray-200">
    
        <button  id="home-button" class="flex items-center text-white">
          <img src="/logo.svg" alt="Logo" class="h-20 mr-4" />
        </button>
    
      </header>
    <h1>hola, por si ves esto facu, no te asustes, en proceso andamo</h1>
</Layout>