---
import Layout from '../../layout/Layout.astro'
import Title from '../../components/Title.astro'

import { getSearchedPeople } from '../../lib/people/getSearchedPeople'
import { getPerson } from '../../lib/people/getPerson'

export async function getStaticPaths() {
  const people = await getSearchedPeople('')

  return people.map(person => {
    return { params: { id: person.id_person.toString() } }
  })
}

const { id } = Astro.params

const person = await getPerson(id)
---

<Layout>
  <main class='p-4'>
    <Title backbutton={true} backhref='/search'>
      {`${person.firstname} ${person.lastname}`}
    </Title>
    <p>{person.document}</p>
  </main>
</Layout>
