<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/logo.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Face Assistance</title>

    <script>
      import { verifyJwt } from '../lib/auth/jwt/verify'
      import { userToken } from '../stores/tokenStore'

      if (!location.href.includes('login')) {
        console.log('a')
        if (await verifyJwt()) {
          userToken.set(localStorage.getItem('user'))
        } else {
          location.href = '/login'
        }
      }
    </script>
  </head>
  <body class=''>
    <slot />

    <script>
      import { userToken } from '../stores/tokenStore'

      userToken.subscribe(token => {
        if (token) {
          localStorage.setItem('user', token)
        } else {
          localStorage.removeItem('user')
        }
      })
    </script>
  </body>
</html>
