---
import '@fontsource-variable/montserrat'
import Header from '../components/Header.astro'

interface Props {
  header?: boolean
  searchbar?: boolean
}

const { header = true, searchbar = true } = Astro.props
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/logo.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Face Assistance</title>

    <style>
      * {
        user-select: none;
      }
      body {
        font-family:
          'Montserrat Variable',
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          'Segoe UI',
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          'Open Sans',
          'Helvetica Neue',
          sans-serif;
      }
    </style>

    <script>
      import { verifyJwt } from '../lib/auth/jwt/verify'
      import { userToken } from '../stores/tokenStore'

      if (!location.href.includes('login')) {
        if ((await verifyJwt()).status) {
          userToken.set(localStorage.getItem('user'))
        } else {
          location.href = '/login'
        }
      }
    </script>
  </head>

  <body class='min-h-screen'>
    {header && <Header searchbar={searchbar} />}

    <slot />

    <script>
      import { userToken } from '../stores/tokenStore'

      userToken.subscribe(token => {
        if (token) {
          localStorage.setItem('user', token)
        } else {
          localStorage.removeItem('user')
        }
      })
    </script>
  </body>
</html>
